<div>
  <div *ngIf="userTariff">
    <div>{{userTariff.label}}_{{userTariff.id}}</div>
    <div>{{userTariff.description}}</div>
    <div>{{userTariff.fee}}</div>
  </div>

  <div *ngIf="allTariffList">
    <ul class="list-group">
      <li *ngFor="let tariff of allTariffList"
          class="list-group-item"
          [ngClass]="{
            active: tariff.id === userTariff.id
          }"
      >
        <div>{{tariff.label}}_{{tariff.id}}</div>
        <div>{{tariff.description}}</div>
        <div>{{tariff.fee}}</div>
        <button type="button"
                class="btn btn-primary"
                [disabled]="tariff.id === userTariff.id"
                (click)="openModal(tariff)"
        >
          Set
        </button>
      </li>
    </ul>
  </div>
</div>
