<div class="row">
  <div class="col-6">
    <div *ngIf="userTariff"
         class="card">
      <div class="card-header">
        User tariff
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <app-user-tariff-card [tariff]="userTariff">
          </app-user-tariff-card>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-6">
    <div *ngIf="allTariffList"
         class="card">
      <div class="card-header">
        All tariff list
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let tariff of allTariffList"
            class="list-group-item">
          <app-tariff-card [tariff]="tariff"
                           [userTariff]="userTariff"
                           (setEvent)="openModal($event)">
          </app-tariff-card>
        </li>
      </ul>
    </div>
  </div>
</div>
