<div class="row">
  <div class="col-6">
    <div *ngIf="userTariffModifierList"
         class="card">
      <div class="card-header">
        User tariff modifier list
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let userTariffModifier of userTariffModifierList"
            class="list-group-item">
          <div>{{userTariffModifier.description}}</div>
          <div>{{userTariffModifier.fee}}</div>
          <div>
          <span *ngFor="let tariffId of userTariffModifier.allowedOnTariffs">
            {{tariffId}},
          </span>
          </div>
          <button type="button"
                  class="btn btn-danger"
                  (click)="onDeleteClick(userTariffModifier)">
            Delete
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-6">
    <div *ngIf="allTariffModifierList"
         class="card">
      <div class="card-header">
        All tariff modifier list
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let tariffModifier of allTariffModifierList"
            class="list-group-item">
          <div>{{tariffModifier.label}}_{{tariffModifier.id}}</div>
          <div>{{tariffModifier.description}}</div>
          <div>{{tariffModifier.fee}}</div>
          <div>
          <span *ngFor="let tariffId of tariffModifier.allowedOnTariffs">
            {{tariffId}},
          </span>
          </div>
          <div>User: {{tariffModifier.isUser ? 'yes' : 'no'}}</div>
          <div>Compatible With Tariff: {{tariffModifier.compatibleWithTariff ? 'yes' : 'no'}}</div>
          <span class="d-inline-block"
                tabindex="0"
                placement="top"
                [ngbTooltip]="tariffModifier | tooltip">
            <button [disabled]="tariffModifier.isUser || !tariffModifier.compatibleWithTariff"
                    type="button"
                    class="btn btn-primary"
                    (click)="onAddClick(tariffModifier)">
            Add
          </button>
        </span>
        </li>
      </ul>
    </div>
  </div>
</div>
