<nav class="navbar navbar-expand navbar-light bg-light">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary"
            ngbDropdownToggle>
      {{userActivePhone}}
    </button>
    <div ngbDropdownMenu>
      <button *ngFor="let phone of userPhoneList"
              ngbDropdownItem
              (click)="onSelectPhone(phone)">
        {{phone}}
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let navLink of navLinks"
          class="nav-item"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link"
           [routerLink]="navLink.link">
          {{navLink.label}}
        </a>
      </li>
    </ul>
  </div>
</nav>
